[submodule "spring/tut-rest"]
	path = spring/tut-rest
	url = https://github.com/spring-guides/tut-rest
[submodule "udemy-docker-mastery"]
	path = udemy-docker-mastery
	url = https://github.com/BretFisher/udemy-docker-mastery
